<html lang="en" class="theme theme--mercado artdeco" data-kantu="1" capture-installed="true"><link type="text/css" rel="stylesheet" id="dark-mode-custom-link"><link type="text/css" rel="stylesheet" id="dark-mode-general-link"><style lang="en" type="text/css" id="dark-mode-custom-style"></style><style lang="en" type="text/css" id="dark-mode-native-style"></style><style lang="en" type="text/css" id="dark-mode-native-sheet"></style><head><script type="text/javascript" async="" charset="utf-8" id="utag_129" src="https://platform.linkedin.com/litms/vendor/google/gtag-adwords.js?id=AW-979305453"></script><script type="text/javascript" id="aW50ZXJjZXB0b3I=">
    (function injectedFunc(t){function n(e,a,n){var s=new FileReader;s.onload=function(){var e=s.result;e={path:a,response:e,url:n},window.postMessage({type:`__traffic_listener_xhr_${t}`,payload:e},"https://www.linkedin.com")},s.readAsText(e)}var e,a,s,i;e=function(e){try{if(e.response instanceof Blob){var a=new URL(e.responseURL);switch(a.pathname){case"/sales-api/salesApiPeopleSearch":case"/sales-api/salesApiLeadSearch":case"/voyager/api/organization/companies":case"/voyager/api/identity/dash/profiles":n(e.response,a.pathname,e.responseURL);break;default:a.pathname.includes("/sales-api/salesApiProfiles/")&&n(e.response,"/sales-api/salesApiProfiles/*",e.responseURL),a.pathname.includes("/sales-api/salesApiCompanies/")&&n(e.response,"/sales-api/salesApiCompanies/*",e.responseURL)}}}catch(e){console.log(e)}},a=XMLHttpRequest.prototype,s=a.send,i=a.open,a.open=function(e,a){return this.url=a,i.apply(this,arguments)},a.send=function(){return this.addEventListener("load",function(){e(this)}),s.apply(this,arguments)}})("aW50ZXJjZXB0b3I=");
    </script>
      <script type="application/javascript">!function(i,n){void 0!==i.addEventListener&&void 0!==i.hidden&&(n.liVisibilityChangeListener=function(){i.hidden&&(n.liHasWindowHidden=!0)},i.addEventListener("visibilitychange",n.liVisibilityChangeListener))}(document,window);</script>
  
      <title>(99+) <%= `${data?.firstName} ${data?.lastName}` %> | LinkedIn</title>
  
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="asset-url" class="mercado-icons-sprite" id="artdeco-icons/static/images/sprite-asset" content="https://static-exp1.licdn.com/sc/h/7438dbnn8galtczp2gk2s4bgb">
      <meta name="description" content="">
      <meta name="google" content="notranslate">
      <meta name="service" content="voyager-web">
      <meta name="theme-color" content="#ffffff" id="theme-color-meta-tag">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
      <meta name="baseCDNUrl" content="https://static-exp1.licdn.com/sc/h">
      <link rel="icon" type="image/svg+xml" href="https://static-exp1.licdn.com/sc/h/5bukxbhy9xsil5mb7c2wulfbx" id="favicon-svg">
      <link rel="alternate icon" href="https://static-exp1.licdn.com/sc/h/90y3av2ns08iojcadywbxioqh" id="favicon-png" sizes="any">
      <link rel="mask-icon" href="https://static-exp1.licdn.com/sc/h/8a1a8xqjolkyjbf9n3i40oimj" color="#0a66c2">
  
      
          <link id="ui-theme" rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/2jpuxqtgh4zl20b9akk52svu0">
          <link id="ui-theme-dark" rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/2ydfhbqnxzdoi34w4fa8s4rq1" disabled="">
        
      <link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/7wnl1z13qpwvm5dfzsbta4ad4">
     
  <meta name="isBrowserSupported" content="true">
  <meta name="isGuest" content="false">
  <meta name="renderingMode" data-mode="BIGPIPE">
  <!--%SSR_HEAD*[]%-->
  <meta name="Fastlane" content="enabled"> 
  <meta name="bigpipeResponseTimeout" content="12000"> 
  <meta name="bigpipeJetRethrowError" content="false"> 
  <meta name="bigpipeDenylistUrls" content="[&quot;static\\.licdn\\.com&quot;,&quot;media\\.licdn\\.com&quot;,&quot;voyager/api/typeahead/hits&quot;]"> 
  <meta name="bigpipeBlacklistUrls" content="[&quot;static\\.licdn\\.com&quot;,&quot;media\\.licdn\\.com&quot;,&quot;voyager/api/typeahead/hits&quot;]"> 
  <meta name="isQueryTunnelRequestSupported" content="true"> 
  <script src="https://static-exp1.licdn.com/sc/h/arstnpc48p729h01vdm9a2nac"></script>
  <meta name="abi/config/environment" content="%7B%7D">
  <meta name="article-reader/config/environment" content="%7B%7D">
  <meta name="career-services/config/environment" content="%7B%7D">
  <meta name="company-creation/config/environment" content="%7B%7D">
  <meta name="creator-analytics/config/environment" content="%7B%7D">
  <meta name="discover-tab/config/environment" content="%7B%7D">
  <meta name="emoji-picker/config/environment" content="%7B%7D">
  <meta name="events/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="events-analytics/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="feed/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="feed-debug/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="feed-detail/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="feed-shared/config/environment" content="%7B%7D">
  <meta name="feedback/config/environment" content="%7B%7D">
  <meta name="groups/config/environment" content="%7B%22ember-faker%22%3A%7B%7D%7D">
  <meta name="hiring/config/environment" content="%7B%7D">
  <meta name="inshare/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="interview-prep/config/environment" content="%7B%7D">
  <meta name="jam/config/environment" content="%7B%7D">
  <meta name="job-posting/config/environment" content="%7B%7D">
  <meta name="jobs/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="jobs-post-apply/config/environment" content="%7B%7D">
  <meta name="jobs-search/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="lead-capture/config/environment" content="%7B%7D">
  <meta name="lead-gen/config/environment" content="%7B%7D">
  <meta name="marketplace-message-card/config/environment" content="%7B%7D">
  <meta name="me/config/environment" content="%7B%7D">
  <meta name="me-ca/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="member-analytics/config/environment" content="%7B%7D">
  <meta name="messaging/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="msg-hiring/config/environment" content="%7B%7D">
  <meta name="msg-overlay/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="msg-overlay-manager/config/environment" content="%7B%7D">
  <meta name="msg-reactions/config/environment" content="%7B%7D">
  <meta name="msg-referrals/config/environment" content="%7B%7D">
  <meta name="msg-spinmail/config/environment" content="%7B%7D">
  <meta name="msg-ui/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="msg-video-call/config/environment" content="%7B%7D">
  <meta name="mynetwork/config/environment" content="%7B%7D">
  <meta name="news/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="notifications/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="onboarding/config/environment" content="%7B%7D">
  <meta name="organization/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="organization-about/config/environment" content="%7B%7D">
  <meta name="organization-admin/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="organization-admin-jobs/config/environment" content="%7B%7D">
  <meta name="organization-admin-life/config/environment" content="%7B%7D">
  <meta name="organization-content-suggestions/config/environment" content="%7B%7D">
  <meta name="organization-employee-experience/config/environment" content="%7B%7D">
  <meta name="organization-events/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="organization-insights/config/environment" content="%7B%7D">
  <meta name="organization-jobs/config/environment" content="%7B%7D">
  <meta name="organization-life/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="organization-people/config/environment" content="%7B%7D">
  <meta name="organization-posts/config/environment" content="%7B%7D">
  <meta name="organization-product/config/environment" content="%7B%7D">
  <meta name="organization-videos/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="participate-text-editor/config/environment" content="%7B%7D">
  <meta name="premium/config/environment" content="%7B%7D">
  <meta name="products/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="profile-edit/config/environment" content="%7B%22environment%22%3A%22production%22%2C%22ember-a11y-testing%22%3A%7B%22componentOptions%22%3A%7B%22turnAuditOff%22%3Atrue%2C%22excludeAxeCore%22%3Atrue%2C%22axeOptions%22%3A%7B%22iframes%22%3Afalse%2C%22reporter%22%3A%22v2%22%2C%22resultTypes%22%3A%5B%22violations%22%5D%2C%22rules%22%3A%7B%22duplicate-id%22%3A%7B%22enabled%22%3Afalse%7D%2C%22duplicate-id-active%22%3A%7B%22enabled%22%3Afalse%7D%2C%22duplicate-id-aria%22%3A%7B%22enabled%22%3Afalse%7D%7D%7D%7D%7D%7D">
  <meta name="profile-ge/config/environment" content="%7B%7D">
  <meta name="profile-opportunities/config/environment" content="%7B%7D">
  <meta name="profile-search-analytics/config/environment" content="%7B%7D">
  <meta name="profile-skill-assessments/config/environment" content="%7B%7D">
  <meta name="profile-tetris/config/environment" content="%7B%7D">
  <meta name="props-home/config/environment" content="%7B%7D">
  <meta name="publishing/config/environment" content="%7B%7D">
  <meta name="publishing-entity/config/environment" content="%7B%7D">
  <meta name="resume-builder/config/environment" content="%7B%7D">
  <meta name="rooms/config/environment" content="%7B%7D">
  <meta name="salary-engine/config/environment" content="%7B%7D">
  <meta name="search/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="service-marketplace/config/environment" content="%7B%7D">
  <meta name="sharing-v2/config/environment" content="%7B%7D">
  <meta name="skills-demonstration/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="smp-service-pages/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="stories-ads-engine/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="stories-engine/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="tenor-gif/config/environment" content="%7B%7D">
  <meta name="tracking-overlay/config/environment" content="%7B%7D">
  <meta name="video-conferencing/config/environment" content="%7B%7D">
  <meta name="video-engine/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="video-go-live/config/environment" content="%7B%22sparkPlaceholders%22%3A%7B%22includeHashes%22%3A%5B%22assets/media-player.amd.js%22%5D%7D%7D">
  <meta name="video-intro/config/environment" content="%7B%7D">
  <meta name="workflow/config/environment" content="%7B%7D">
  
      <link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/era4c3uzl68qy8qhi1yqnlxil">
      <link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/1msphyvrzych8wr6uizkq5g6d">
  
      <meta name="asset-url" id="artdeco-icons/static/images/icons.svg" content="https://static-exp1.licdn.com/sc/h/4u3n21bmitzyljlm274yvwzfu">
  
  <link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/6thu9facqkfo514zcfujtvppw"><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/c8b24dzlp8k21h7v7pg4m0mmo"><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/e0ns4jgkyzvplocwi9wdjyjaz"><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/2ld22hx3wx7j1ixxa4vgq88jf">
  <link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/i0t4rcr4d3izzydr6oda4s19" class="lazy-css">
  
      <style></style>
  
      <script src="https://static-exp1.licdn.com/sc/h/14dy5bkck28mvpzfhsvmdirq4"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/b5gmx5uehkvzcr9m6deybhuc2"><script src="https://static-exp1.licdn.com/sc/h/ad9zxft28tjyjyrvxmavdgajh"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/8k6pasrueqqhkjc2mzhsbcqxj"><script src="https://static-exp1.licdn.com/sc/h/ehh42zcwr39iqhe4ziltn6ahm"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/6sb0omhptpm03hspka967ywgq"><script src="https://static-exp1.licdn.com/sc/h/bzodc4aimq3u4cy8qkat0210e"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/ar34ai9s1xk2f1japurbb0dr0"><script src="https://static-exp1.licdn.com/sc/h/aau2n64q9plr8h2a1egczrzsm"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/1eusa9u1l6npjjusyzdojji50"><script src="https://static-exp1.licdn.com/sc/h/56leemgdrjkiqzokz5dknlmyc"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/7p2h57z8clxyq62d0v4982fc0"><script src="https://static-exp1.licdn.com/sc/h/9knan2vul2dsju6vpx1oxa77v"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/a6odkrc9q60k2x9rm2aykb1d4"><script src="https://static-exp1.licdn.com/sc/h/b4sj69x7a7srqu2eay0k9uf4w"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/40jucsltklg5nhjh6v8ubdtfy"><script src="https://static-exp1.licdn.com/sc/h/dnj4hcjmwi2hulxuxpsmkmzc7"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/28sztaescveq25c4ux2ysdrx0"><script src="https://static-exp1.licdn.com/sc/h/74czuswcsjvn63uhohy3cd7h0"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/9jeuj2kr7bscgte1zcbhfgzl6"><script src="https://static-exp1.licdn.com/sc/h/d65nnm58cxndas5efvh330hej"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/2ubsnk7l3yqkc8yjxhjtp9wbm"><script src="https://static-exp1.licdn.com/sc/h/d7mq2mtutuncsc52bpytq0m2r"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/edwzeiakdzf9fdypa5qoq4490"><script src="https://static-exp1.licdn.com/sc/h/coa7f3ykpl4n59lxspa6n42h5"></script><script src="https://static-exp1.licdn.com/sc/h/6v2u9x61ky77nik18jxob0a55"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/4dyyavp7xveuojsh84y806ldm"><script src="https://static-exp1.licdn.com/sc/h/4oqd1hcjoyj5yqg15u7o0g36v"></script><script src="https://static-exp1.licdn.com/sc/h/6ooh7vsn6jszkp4hgbovj1y2"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/8vwu5dz88mgp9s3yn04kudsb6"><script type="text/javascript" src="https://platform.linkedin.com/litms/utag/voyager-web-feed/utag.js?cb=1654847700000" async=""></script><script type="text/javascript" src="https://d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_121" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.121.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_128" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.128.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_129" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.129.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_193" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.193.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_194" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.194.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_195" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.195.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_196" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.196.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_197" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.197.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_198" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.198.js?utv=ut4.46.202203032040"></script><script type="text/javascript" async="" charset="utf-8" id="utag_linkedin.voyager-web-feed_202" src="//platform.linkedin.com/litms/utag/voyager-web-feed/utag.202.js?utv=ut4.46.202203032040"></script><script src="https://static-exp1.licdn.com/sc/h/74vi0dek3oizj4tdeh48nw7mc"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/6zlz4o2gb5fmejaut9ji8fdtm"><script src="https://static-exp1.licdn.com/sc/h/2lf55pumwezz18by19qn6ni6p"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/b24dqergvw1bfw4ub4x1v4hxo"><script src="https://static-exp1.licdn.com/sc/h/8rq7kzjfq7vogv0rm6s54e6o4"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/aaxaiqmpjg8rnlikadxo932hu"><script src="https://static-exp1.licdn.com/sc/h/4sam03t6wbcmss0wfcjmdboua"></script><script src="https://static-exp1.licdn.com/sc/h/66u0eoty5u9rjq5h1wknghr03"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/diey7gybqr1awlc18s92504cu"><script src="https://static-exp1.licdn.com/sc/h/asnxd2xyc2l8uh6y2pzk55tph"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/6evwtvjj0tx46tgnsx09jkvx5"><script src="https://static-exp1.licdn.com/sc/h/bssmk4y933hqp9t7ooxfi1pf0"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/27takuu3tvue3f0ai8i5hbbnq"><script src="https://static-exp1.licdn.com/sc/h/44ya3t8irr6223vm89fvkt9qh"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/7qnnz2sgdtbd37u1l0mbiknvt"><script src="https://static-exp1.licdn.com/sc/h/aj3dicvzgvdylacbpxdm49qnk"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/9v6o0khg28m8xrqs8boz8mwz0"><script src="https://static-exp1.licdn.com/sc/h/7kgklyjqo4w79jnb8m1d78xak"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/dxyozplxn3yz3jl7nsp0ozphg"><script src="https://static-exp1.licdn.com/sc/h/3k94yshyyn97wl3fq0msjafwl"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/8v536c9wnmr61yy6imx0678h2"><script src="https://static-exp1.licdn.com/sc/h/a85dndi79tc8qxjmlvme26szl"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/auke4pr7uot7gccwcu5if67ea"><script src="https://static-exp1.licdn.com/sc/h/31wqv8w7gb6bpno9ehlg1q78y"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/f1mbj22unoc2erjpz58g63fey"><script src="https://static-exp1.licdn.com/sc/h/cygeaxypb90h1kqtyzivk594w"></script><link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/c7f4w0xqfyuai51f3kfui87t6"></head><body dir="ltr" class="render-mode-BIGPIPE nav-v2 ember-application boot-complete icons-loaded" data-t-link-to-event-attached="true" data-new-gr-c-s-loaded="14.1063.0">
    
  
    
      <!-- HUED-11420 -->
      <div id="artdeco-toasts__wormhole">  <section id="artdeco-toasts" class="artdeco-toasts">
      <header class="artdeco-toasts__header">
        <h2 class="artdeco-toasts__title">
          0 notifications total
        </h2>
      </header>
  
  <!---->
      <div class="artdeco-toasts_toasts">
  <!---->    </div>
    </section>
  </div>
      <!-- EMBER_CLI_FASTBOOT_BODY -->
  <div id="app-boot-bg-loader" class="app-boot-bg-skeleton">
    <div class="top-bar"></div>
    <div class="content">
      <div class="initial-load-animation fade-load">
        <div class="linkedin-image display-flex justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="loader__linkedin-logo" width="190" height="48" viewBox="0 0 190 48">
            <g>
              <g>
                <path d="M58,27.22V41H51V28.88c0-3.7-2.07-5.24-4-5.24a5,5,0,0,0-5.14,4.85,4.34,4.34,0,0,0,0,.51V41H35V18h6.6v3.25h.09c.69-1.41,3.64-3.75,7.66-3.75S58,20.22,58,27.22ZM24,41h7V18H24ZM27.5,6.45a4.05,4.05,0,1,0,4.1,4.05,4,4,0,0,0-4-4ZM190,3.5v41a3.5,3.5,0,0,1-3.5,3.5h-41a3.5,3.5,0,0,1-3.5-3.5V3.5A3.5,3.5,0,0,1,145.5,0h41A3.5,3.5,0,0,1,190,3.5ZM156,18h-7V41h7Zm.6-7.5a4.1,4.1,0,1,0-4.15,4.05h.05a4,4,0,0,0,4.1-3.9ZM183,27.22c0-7-4.63-9.72-8.65-9.72s-7,2.34-7.66,3.75h-.09V18H160V41h7V29c0-3.69,2.51-5.33,4.95-5.33,2,0,4.05,1.54,4.05,5.24V41h7ZM8,7H0V41H21V34H8ZM108,29.77v2H91a1.33,1.33,0,0,0,.11.43c.58,1.93,2.67,3.56,5.75,3.56A6.3,6.3,0,0,0,102,33.52l5.1,3.18a12.72,12.72,0,0,1-10.45,4.8C89.94,41.5,84,37.42,84,29.59S90,17.5,96.44,17.5,108,21.81,108,29.77ZM101,27c0-2.4-1.56-4.38-4.75-4.38-3,0-5.09,2-5.25,4.38ZM85.26,18H76.68l-7.54,9.37H69V7H62V41h7V30h.14l7.72,11h8.77L76.2,28.43ZM128,7h7V41h-6.6V38h-.09c-.88,1.52-3.24,3.49-7.4,3.49-5,0-10.91-3.63-10.91-12,0-7.53,5.1-11.95,10.82-11.95a9.55,9.55,0,0,1,7.09,3H128Zm.3,22.49a5.74,5.74,0,0,0-5.59-5.89h-.15A5.54,5.54,0,0,0,116.89,29c0,.15,0,.29,0,.44a5.61,5.61,0,0,0,5.26,5.94h.4A5.83,5.83,0,0,0,128.3,29.49Z" fill="currentColor"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="loading-bar">
          <div class="blue-bar"></div>
        </div>
      </div>
    </div>
  </div>
  
      <script src="https://static-exp1.licdn.com/sc/h/7mzy7cwjau88vnrxdlzye5ocd" data-fastboot-src="/assets/vendor-static.js" crossorigin=""></script>
      <script src="https://static-exp1.licdn.com/sc/h/bl7bhjyhpp1ixh7fezfhcq3au" data-fastboot-src="/assets/vendor.js" crossorigin=""></script>
  <script src="https://static-exp1.licdn.com/sc/h/2qc1ciwe9zzlavi59ohk4gj2b" data-fastboot-src="/assets/chunk.283.fefcc7d275c7452c86ab.js" crossorigin=""></script>
  <script src="https://static-exp1.licdn.com/sc/h/areqfel6j4ye4f5lkrcmjnqnh" data-fastboot-src="/assets/chunk.143.2c3034690ec44f66bbc2.js" crossorigin=""></script>
      <script data-embroider-ignore="" src="https://static-exp1.licdn.com/sc/h/3glgpj4zpa6zichzrdb9okwla" data-fastboot-src="/assets/i18n/support_en_US.js" crossorigin=""></script>
      <script src="https://static-exp1.licdn.com/sc/h/16m80ngadvqtewq8cwqn8aysl"></script><script src="https://static-exp1.licdn.com/sc/h/emji7evw8zi0pea4rt1whfyxu"></script><script src="https://static-exp1.licdn.com/sc/h/bvrdxrxef0cr58j0sr8on52cz"></script><script src="https://static-exp1.licdn.com/sc/h/d9iz6l3k77ulqgnr4meib7tx7"></script><script src="https://static-exp1.licdn.com/sc/h/436qf63elauf698pdairs306p"></script><script src="https://static-exp1.licdn.com/sc/h/bvrdxrxef0cr58j0sr8on52cz"></script>
      <script src="https://static-exp1.licdn.com/sc/h/6zy5re62zt5h5cyvagjjm4cwk" data-fastboot-src="/assets/extended.js" crossorigin=""></script>
      <div id="artdeco-modal-outlet"></div>
  
  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="datalet-bpr-guid-361043">
  
  
  
    <div id="ember8" class="ember-view"></div>
  
  
  <!---->
  <div class="application-outlet">
  <!---->
          <div class="global-nav__a11y-menu
      ">
    <div class="global-nav__a11y-menu-container">
        <button id="ember11" class="mr4 artdeco-button artdeco-button--muted artdeco-button--2 artdeco-button--secondary ember-view"><!---->
  <span class="artdeco-button__text">
      Skip to search
  </span></button>
  
      <button id="ember12" class="artdeco-button artdeco-button--muted artdeco-button--2 artdeco-button--secondary ember-view"><!---->
  <span class="artdeco-button__text">
      Skip to main content
  </span></button>
  
      <button id="ember13" class="global-nav__a11y-menu-close artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--2 artdeco-button--tertiary ember-view">  <li-icon aria-hidden="true" type="cancel-icon" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M13.42 12L20 18.58 18.58 20 12 13.42 5.42 20 4 18.58 10.58 12 4 5.42 5.42 4 12 10.58 18.58 4 20 5.42z"></path>
  </svg></li-icon>
  
  <span class="artdeco-button__text">
      Close jump menu
  </span></button>
    </div>
  </div>
          <header id="global-nav" class="global-nav global-alert-offset-top ember-view">
  <svg class="global-nav__icons" xmlns="http://www.w3.org/2000/svg">
  
    <symbol id="global-nav-icon--classic__home" height="24" width="24">
      <path d="M22 9.45l-9.15-6.19a1.5 1.5 0 00-1.69 0L2 9.45 3.06 11l.94-.63V20a1 1 0 001 1h6v-5h2v5h6a1 1 0 001-1v-9.63l.94.63zM18 19h-3v-4a1 1 0 00-1-1h-4a1 1 0 00-1 1v4H6V8.89l6-4 6 4V19z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__home--active" height="24" width="24">
      <path d="M22 8.45l-9.15-6.19a1.5 1.5 0 00-1.69 0L2 8.45 3.06 10 4 9.37V19a1 1 0 001 1h5v-5h4v5h5a1 1 0 001-1V9.37l.94.63z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__home" height="24" width="24">
      <path d="m23 9v2h-2v7c0 1.7-1.3 3-3 3h-4v-6h-4v6h-4c-1.7 0-3-1.3-3-3v-7h-2v-2l11-7z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__home--active" height="24" width="24">
      <path d="m23 9v2h-2v7c0 1.7-1.3 3-3 3h-4v-6h-4v6h-4c-1.7 0-3-1.3-3-3v-7h-2v-2l11-7z"></path>
      <path d="m20 2h-3v3.2l3 1.9z"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__my-network" height="24" width="24">
      <path d="M20.74 14.2L19 13.54v-.68l.25-.41A5 5 0 0020 9.82V9a3 3 0 00-6 0v.82a5 5 0 00.75 2.63l.25.41v.68l-1 .37a4 4 0 00-.58-.28l-2.45-1v-1.8A8 8 0 0012 7V6a4 4 0 00-8 0v1a8 8 0 001 3.86v1.84l-2.45 1A4 4 0 000 17.35V20a1 1 0 001 1h21a1 1 0 001-1v-2.53a3.5 3.5 0 00-2.26-3.27zM16 8.75a1 1 0 012 0v1.44a3 3 0 01-.38 1.46l-.33.6a.25.25 0 01-.22.13h-.14a.25.25 0 01-.22-.13l-.33-.6a3 3 0 01-.38-1.46V8.75zM6 5.85a2 2 0 014 0v1.43a6 6 0 01-.71 2.83l-.29.61a1 1 0 01-.88.53h-.2a1 1 0 01-.92-.53l-.33-.61A6 6 0 016 7.28V5.85zM14 19H2v-1.75a2 2 0 011.26-1.86L7 13.92v-1a3 3 0 001 .18 3 3 0 001-.18v1l3.72 1.42A2 2 0 0114 17.21V19zm7 0h-5v-1.65a4 4 0 00-.55-2l1.05-.4v-.88a2 2 0 00.4.05h.2a2 2 0 00.4-.05v.88l2.53 1a1.5 1.5 0 011 1.4V19z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__my-network--active" height="24" width="24">
      <path d="M16 17.85V20a1 1 0 01-1 1H1a1 1 0 01-1-1v-2.15a4 4 0 012.55-3.73l2.95-1.2v-1.21l-.73-1.3A6 6 0 014 7.47V6a4 4 0 014.39-4A4.12 4.12 0 0112 6.21v1.26a6 6 0 01-.77 2.94l-.73 1.3v1.21l2.95 1.2A4 4 0 0116 17.85zm4.75-3.65L19 13.53v-1a6 6 0 001-3.31V9a3 3 0 00-6 0v.18a6 6 0 00.61 2.58A3.61 3.61 0 0016 13a3.62 3.62 0 012 3.24V21h4a1 1 0 001-1v-2.53a3.5 3.5 0 00-2.25-3.27z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__my-network" height="24" width="24">
      <path d="m12 16v6h-9v-6c0-1.7 1.3-3 3-3h3c1.7 0 3 1.3 3 3zm5.5-3c1.9 0 3.5-1.6 3.5-3.5s-1.6-3.5-3.5-3.5-3.5 1.6-3.5 3.5 1.6 3.5 3.5 3.5zm1 2h-2c-1.4 0-2.5 1.1-2.5 2.5v4.5h7v-4.5c0-1.4-1.1-2.5-2.5-2.5zm-11-13c-2.5 0-4.5 2-4.5 4.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2-4.5-4.5-4.5z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__my-network--active" height="24" width="24">
      <path d="m16.5 11c-2.485 0-4.5-2.015-4.5-4.5s2.015-4.5 4.5-4.5 4.5 2.015 4.5 4.5-2.015 4.5-4.5 4.5z"></path>
      <path d="m21 16c0-1.657-1.343-3-3-3h-3c-1.657 0-3 1.343-3 3v6h9z"></path>
      <path d="m3 9.5c0 1.933 1.566 3.5 3.5 3.5s3.5-1.567 3.5-3.5-1.566-3.5-3.5-3.5-3.5 1.567-3.5 3.5z"></path>
      <path d="m10 17.5c0-1.381-1.119-2.5-2.5-2.5h-2c-1.381 0-2.5 1.119-2.5 2.5v4.5h7z"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__discover" height="24" width="24">
      <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20ZM7.05,17,14,14,17,7.05,10,10Zm5-6.2A1.25,1.25,0,1,1,10.75,12,1.25,1.25,0,0,1,12,10.75Z" fill-opacity=".9"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__discover--active" height="24" width="24">
      <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20ZM9.17,12,12,19A7,7,0,0,1,12,5ZM12,13.25A1.25,1.25,0,1,1,13.25,12,1.25,1.25,0,0,1,12,13.25ZM19,12a7,7,0,0,1-7,7l2.83-7L12,5A7,7,0,0,1,19,12Z" fill-opacity=".9"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__discover" height="24" width="24">
      <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20ZM7.05,17,14,14,17,7.05,10,10Zm5-6.2A1.25,1.25,0,1,1,10.75,12,1.25,1.25,0,0,1,12,10.75Z" fill-opacity=".9"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__discover--active" height="24" width="24">
      <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20ZM9.17,12,12,19A7,7,0,0,1,12,5ZM12,13.25A1.25,1.25,0,1,1,13.25,12,1.25,1.25,0,0,1,12,13.25ZM19,12a7,7,0,0,1-7,7l2.83-7L12,5A7,7,0,0,1,19,12Z" fill-opacity=".9"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__jobs" height="24" width="24">
      <path d="M21 7h-4V6a3 3 0 00-3-3h-4a3 3 0 00-3 3v1H3a1 1 0 00-1 1v11a1 1 0 001 1h18a1 1 0 001-1V8a1 1 0 00-1-1zM9 6a1 1 0 011-1h4a1 1 0 011 1v1H9V6zm11 12H4v-5h16v5zm0-6H4V9h16v3z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__jobs--active" height="24" width="24">
      <path d="M2 13h20v6a1 1 0 01-1 1H3a1 1 0 01-1-1v-6zm20-5v4H2V8a1 1 0 011-1h4V6a3 3 0 013-3h4a3 3 0 013 3v1h4a1 1 0 011 1zm-7-2a1 1 0 00-1-1h-4a1 1 0 00-1 1v1h6V6z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__jobs" height="24" width="24">
      <path d="m17 6v-1c0-1.7-1.3-3-3-3h-4c-1.7 0-3 1.3-3 3v1h-5v4c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-4zm-8-1c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v1h-6zm10 9c1.2 0 2.3-.5 3-1.4v4.4c0 1.7-1.3 3-3 3h-14c-1.7 0-3-1.3-3-3v-4.4c.7.9 1.8 1.4 3 1.4z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__jobs--active" height="24" width="24">
      <path d="m7 14c-1.6 0-3-1-3.7-2.4l-1.3-3.1v8.5c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-3z"></path>
      <path d="m22.8 10.2-1.8-4.2h-3.9v-1c0-1.7-1.3-3-3-3h-4c-1.7 0-3 1.3-3 3v1h-5.1l2.2 5.2c.5 1.1 1.6 1.8 2.8 1.8h14c1.4 0 2.4-1.5 1.8-2.8zm-7.7-4.2h-6v-1c0-.6.4-1 1-1h4c.6 0 1 .4 1 1z"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__messaging" height="24" width="24">
      <path d="M21 8H8a1 1 0 00-1 1v10a1 1 0 001 1h10l4 3V9a1 1 0 00-1-1zm-1 11.11L18.52 18H9v-8h11v9.11zM12 15h5v1h-5v-1zm-8-2h1v2H3a1 1 0 01-1-1V4a1 1 0 011-1h13a1 1 0 011 1v2h-2V5H4v8zm14 0h-7v-1h7v1z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__messaging--active" height="24" width="24">
      <path d="M21 8H8a1 1 0 00-1 1v10a1 1 0 001 1h10l4 3V9a1 1 0 00-1-1zm-4 8h-5v-1h5zm1-3h-7v-1h7zm-1-9v2H6a1 1 0 00-1 1v8H3a1 1 0 01-1-1V4a1 1 0 011-1h13a1 1 0 011 1z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__messaging" height="24" width="24">
      <path d="M16 3H8C6.14348 3 4.36301 3.77847 3.05025 5.16416C1.7375 6.54984 1 8.42923 1 10.3889C1 12.3485 1.7375 14.2279 3.05025 15.6136C4.36301 16.9993 6.14348 17.7778 8 17.7778H12V22L20.16 16.3106C21.0512 15.639 21.7751 14.7495 22.2697 13.7183C22.7643 12.687 23.0148 11.5446 23 10.3889C23 8.42923 22.2625 6.54984 20.9497 5.16416C19.637 3.77847 17.8565 3 16 3ZM8 11.7083C7.75277 11.7083 7.5111 11.631 7.30554 11.486C7.09998 11.341 6.93976 11.1349 6.84515 10.8938C6.75054 10.6527 6.72579 10.3874 6.77402 10.1315C6.82225 9.87553 6.9413 9.64043 7.11612 9.4559C7.29093 9.27137 7.51366 9.14571 7.75614 9.0948C7.99861 9.04389 8.24995 9.07002 8.47835 9.16988C8.70676 9.26975 8.90199 9.43886 9.03934 9.65585C9.17669 9.87283 9.25 10.1279 9.25 10.3889C9.25 10.7388 9.1183 11.0744 8.88388 11.3219C8.64946 11.5693 8.33152 11.7083 8 11.7083ZM12 11.7083C11.7528 11.7083 11.5111 11.631 11.3055 11.486C11.1 11.341 10.9398 11.1349 10.8452 10.8938C10.7505 10.6527 10.7258 10.3874 10.774 10.1315C10.8222 9.87553 10.9413 9.64043 11.1161 9.4559C11.2909 9.27137 11.5137 9.14571 11.7561 9.0948C11.9986 9.04389 12.2499 9.07002 12.4784 9.16988C12.7068 9.26975 12.902 9.43886 13.0393 9.65585C13.1767 9.87283 13.25 10.1279 13.25 10.3889C13.25 10.7388 13.1183 11.0744 12.8839 11.3219C12.6495 11.5693 12.3315 11.7083 12 11.7083ZM16 11.7083C15.7528 11.7083 15.5111 11.631 15.3055 11.486C15.1 11.341 14.9398 11.1349 14.8452 10.8938C14.7505 10.6527 14.7258 10.3874 14.774 10.1315C14.8222 9.87553 14.9413 9.64043 15.1161 9.4559C15.2909 9.27137 15.5137 9.14571 15.7561 9.0948C15.9986 9.04389 16.2499 9.07002 16.4784 9.16988C16.7068 9.26975 16.902 9.43886 17.0393 9.65585C17.1767 9.87283 17.25 10.1279 17.25 10.3889C17.25 10.7388 17.1183 11.0744 16.8839 11.3219C16.6495 11.5693 16.3315 11.7083 16 11.7083Z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__messaging--active" height="24" width="24">
      <path clip-rule="evenodd" d="m11.99 2.00003h3.996c.7888-.00263 1.5704.15062 2.3.45097.7295.30035 1.3926.74189 1.9513 1.29931.5587.55741 1.0021 1.21973 1.3045 1.94899.3025.72926.4582 1.51112.4582 2.30073v.48c-.0007.99073-.2465 1.96587-.7154 2.83837-.469.8724-1.1464 1.6151-1.9719 2.1616l-.3297.22c-.0773-1.804-.848-3.5083-2.1512-4.75689-1.3032-1.24856-3.0379-1.94474-4.8418-1.94308h-3.99599c-.65929.00095-1.31514.09522-1.94805.28.17568-1.45488.87721-2.79509 1.97223-3.76778s2.50781-1.51059 3.97181-1.51222zm-3.996 6h3.996c1.5897 0 3.1143.63214 4.2384 1.75736 1.1241 1.12521 1.7556 2.65131 1.7556 4.24261v.48c-.0007.9908-.2465 1.9659-.7154 2.8383-.4689.8725-1.1464 1.6152-1.9719 2.1617l-5.30469 3.52v-3h-1.99801c-1.5897 0-3.1143-.6321-4.2384-1.7573-1.12409-1.1252-1.7556-2.6514-1.7556-4.2427s.63151-3.1174 1.7556-4.24261c1.1241-1.12522 2.6487-1.75736 4.2384-1.75736zm-1.55401 6.83147c.16428.1099.35743.1685.55501.1685.26496 0 .51905-.1053.7064-.2929.18735-.1875.2926-.4419.2926-.7071 0-.1978-.05859-.3911-.16836-.5555-.10977-.1645-.26579-.2927-.44833-.3683-.18255-.0757-.38341-.0955-.5772-.057-.19379.0386-.37179.1339-.51151.2737-.13971.1399-.23485.3181-.2734.512-.03855.194-.01876.3951.05685.5778s.20365.3389.36794.4488zm2.997 0c.16429.1099.35743.1685.55502.1685.26499 0 .51909-.1053.70639-.2929.1874-.1875.2926-.4419.2926-.7071 0-.1978-.0586-.3911-.1684-.5555-.1097-.1645-.2657-.2927-.4483-.3683-.1825-.0757-.3834-.0955-.57719-.057-.19379.0386-.37179.1339-.5115.2737-.13972.1399-.23486.3181-.27341.512-.03855.194-.01876.3951.05685.5778s.20366.3389.36794.4488zm2.99701 0c.1643.1099.3574.1685.555.1685.265 0 .5191-.1053.7064-.2929.1874-.1875.2926-.4419.2926-.7071 0-.1978-.0586-.3911-.1684-.5555-.1097-.1645-.2657-.2927-.4483-.3683-.1825-.0757-.3834-.0955-.5772-.057-.1938.0386-.3718.1339-.5115.2737-.1397.1399-.2349.3181-.2734.512-.0385.194-.0188.3951.0569.5778.0756.1827.2036.3389.3679.4488z"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__notifications" height="24" width="24">
      <path d="M20.94 19L19 14.49s-.41-3.06-.8-6.06A6.26 6.26 0 0012 3a6.26 6.26 0 00-6.21 5.44L5 14.49 3.06 19a.71.71 0 00-.06.28.75.75 0 00.75.76H10a2 2 0 104 0h6.27a.74.74 0 00.67-1.04zM12 4.75a4.39 4.39 0 014.35 3.81c.28 2.1.56 4.35.7 5.44H7l.65-5.44A4.39 4.39 0 0112 4.75zM5.52 18l1.3-3h10.36l1.3 3h-13z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__notifications--active" height="24" width="24">
      <path d="M18.94 14H5.06l.73-5.56A6.26 6.26 0 0112 3a6.26 6.26 0 016.21 5.44zm2 5l-1.71-4H4.78l-1.72 4a.71.71 0 00-.06.28.75.75 0 00.75.76H10a2 2 0 104 0h6.27a.74.74 0 00.67-1.04z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__notifications" height="24" width="24">
      <path d="M13.7 19C13.9 19.3 14 19.6 14 20C14 21.1 13.1 22 12 22C10.9 22 10 21.1 10 20C10 19.6 10.1 19.3 10.3 19H2V18C2 17 2.4 16.1 3.2 15.2L4.2 14H19.9L20.9 15.2C21.7 16.2 22.1 17.1 22.1 18V19H13.7ZM18.2 7.4C17.8 4.3 15.1 2 12 2C8.9 2 6.2 4.3 5.8 7.4L5 13H19L18.2 7.4Z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__notifications--active" height="24" width="24">
      <path d="M21.4 17L20.7 15.6L5.2 12.2L4 13.1C3 13.9 2.4 14.7 2.2 15.6L2 16.6L21.7 21L21.9 20C22 19.7 22 19.5 22 19.2C22 18.5 21.8 17.8 21.4 17Z"></path>
      <path d="M20.5 8.8C20.8 5.7 18.7 2.8 15.6 2.1C15.1 2 14.6 2 14.2 2C11.6 2 9.19999 3.6 8.29999 6.1L6.29999 11.4L20.1 14.5L20.5 8.8Z"></path>
      <path d="M11 20C11 21.1 11.9 22 13 22C14.1 22 15 21.1 15 20C15 19.8 15 19.7 14.9 19.5L11.4 18.7C11.2 19.1 11 19.5 11 20Z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__groups" height="24" width="24">
      <circle cx="12" cy="7" r="3.33"></circle>
      <path d="M21.54 15a10 10 0 00.46-2.77 3 3 0 11-1.28-5.14 10 10 0 00-17.42 0A3 3 0 112 12.23 9.85 9.85 0 002.48 15H7v5.75h.12a10 10 0 001.88.8V12h6v9.54a9.93 9.93 0 002-.89V15h4.54z" opacity=".25"></path>
      <path d="M4 7a3 3 0 00-3 3 3 3 0 103-3zM20.71 7.09A3 3 0 1023 10a3 3 0 00-2.29-2.91z" opacity=".7"></path>
      <path d="M9 12v9.52a9.81 9.81 0 006 0V12H9z"></path>
      <path d="M2.48 15a10.09 10.09 0 00.92 2.09L2 22l5-1.25V15H2.48zM21.54 15H17v5.65A10 10 0 0021.54 15z" opacity=".7"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__work" height="24" width="24">
      <path d="M10 10h4v4h-4v-4zm0 11h4v-4h-4v4zm-7-7h4v-4H3v4zm0 7h4v-4H3v4zM3 7h4V3H3v4zm14 7h4v-4h-4v4zm0-11v4h4V3h-4zm-7 4h4V3h-4v4zm7 14h4v-4h-4v4z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--mercado__work" height="24" width="24">
      <path clip-rule="evenodd" d="m17 21h4v-4h-4zm-7-14h4v-4h-4zm7 0h4v-4h-4zm0 7h4v-4h-4zm-14-7h4v-4h-4zm0 14h4v-4h-4zm0-7h4v-4h-4zm7 7h4v-4h-4zm0-7h4v-4h-4z"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__learning" height="24" width="24">
      <path d="M22 5v14H2V5h20m1-2H1a1 1 0 00-1 1v16a1 1 0 001 1h22a1 1 0 001-1V4a1 1 0 00-1-1z"></path>
      <path d="M2 5v14h10V5H2zm8 12H4v-2h6v2zm0-4H4v-2h6v2zm0-4H4V7h6v2z" opacity=".25"></path>
      <path opacity=".55" d="M14 7h6v2h-6zM14 11h6v2h-6zM14 15h6v2h-6z"></path>
      <path d="M10 7.53v8.93a.28.28 0 00.44.23l6.43-4.44a.33.33 0 000-.52L10.44 7.3a.28.28 0 00-.44.23z"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__post-a-job" height="24" width="24">
      <circle cx="12" cy="4" r="2" opacity=".7"></circle>
      <path d="M21 10H3a1 1 0 00-1 1v10a1 1 0 001 1h18a1 1 0 001-1V11a1 1 0 00-1-1zm-5 9H8v-2h8v2zm2-4H6v-2h12v2z"></path>
      <g opacity=".55">
        <path d="M9.57 5.75l-2.41 4.83 1.68.84 2.28-4.57a3 3 0 01-1.55-1.1zM14.43 5.75a3 3 0 01-1.55 1.1l2.28 4.57 1.68-.84z" opacity=".55"></path>
      </g>
    </symbol>
  
    <symbol id="global-nav-icon--classic__sales-navigator" height="24" width="24">
      <path d="M12 1.88A10.13 10.13 0 111.88 12 10.14 10.14 0 0112 1.88M12 0a12 12 0 1012 12A12 12 0 0012 0z"></path>
      <path d="M12 9.88A2.13 2.13 0 119.88 12 2.13 2.13 0 0112 9.88M12 9a3 3 0 103 3 3 3 0 00-3-3z"></path>
      <path d="M12 15a2.94 2.94 0 01-3-3.46L6.31 17a.56.56 0 00-.05.25.46.46 0 00.44.47.6.6 0 00.3-.03L12.46 15a3 3 0 01-.46 0z" opacity=".7"></path>
      <path d="M17.27 6.25a.55.55 0 00-.25.06L11.54 9A2.94 2.94 0 0115 12.46L17.69 7a.53.53 0 00.05-.24.48.48 0 00-.47-.51z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__recruiter" height="24" width="24">
      <path d="M11 13v3.78a6 6 0 004 0V13h-4z"></path>
      <circle cx="13" cy="9" r="2.33"></circle>
      <path d="M13 2a9 9 0 00-7.61 13.78L2.22 19a.75.75 0 000 1.06L4 21.78a.75.75 0 001.06 0l3.17-3.17A9 9 0 1013 2zm0 15.13A6.13 6.13 0 1119.13 11 6.12 6.12 0 0113 17.13z" opacity=".7"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__elevate" height="24" width="24">
      <circle cx="12" cy="11" r="3"></circle>
      <path d="M9 16h6v5a1 1 0 01-1 1h-4a1 1 0 01-1-1v-5z"></path>
      <path d="M7.77 15.23A.94.94 0 007.85 14a5.12 5.12 0 010-6 .94.94 0 00-.08-1.22.94.94 0 00-1.41.09 7 7 0 000 8.29.94.94 0 001.41.07z" opacity=".7"></path>
      <path d="M2.88 11A9.08 9.08 0 015 5.17a.93.93 0 00-.07-1.25A1 1 0 003.52 4a11 11 0 000 14 1 1 0 001.4.08.93.93 0 00.08-1.25A9.08 9.08 0 012.88 11z" opacity=".25"></path>
      <path d="M17.13 11a5.1 5.1 0 01-1 3 .94.94 0 00.08 1.22.94.94 0 001.41-.09 7 7 0 000-8.29.94.94 0 00-1.41-.09.94.94 0 00-.06 1.25 5.1 5.1 0 01.98 3z" opacity=".7"></path>
      <path d="M23 11a11 11 0 00-2.52-7 1 1 0 00-1.4-.08.93.93 0 00-.08 1.25 9.11 9.11 0 010 11.67.93.93 0 00.07 1.25 1 1 0 001.4-.08A11 11 0 0023 11z" opacity=".25"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__ads" height="24" width="24">
      <path d="M12 17.13a5.13 5.13 0 010-10.25V4a8 8 0 108 8h-2.87A5.13 5.13 0 0112 17.13z" opacity=".7"></path>
      <path d="M23.31 6.34l-4.95-.71-.7-4.94-3.54 3.53.35 2.48-3.89 3.89a2 2 0 002.83 2.83l3.89-3.89 2.48.35z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__cac" height="24" width="24">
      <path d="M16.56 8.11l1.31-2.27a1 1 0 00-.37-1.37l-1.73-1a1 1 0 00-1.36.37L13.1 6.1a6 6 0 013.46 2.01zM10.91 6.1L9.59 3.84a1 1 0 00-.9-.5.94.94 0 00-.47.13l-1.73 1a1 1 0 00-.37 1.37l1.32 2.27a6 6 0 013.47-2.01z" opacity=".45"></path>
      <path d="M12 6a6 6 0 106 6 6 6 0 00-6-6zm0 9.13A3.13 3.13 0 1115.13 12 3.13 3.13 0 0112 15.13z" opacity=".7"></path>
      <path d="M9.62 10H4a1 1 0 00-1 1v2a1 1 0 001 1h5.62a3.07 3.07 0 010-4zM20 10h-5.62a3.07 3.07 0 010 4H20a1 1 0 001-1v-2a1 1 0 00-1-1z"></path>
      <path d="M17.87 18.16l-1.31-2.27a6 6 0 01-3.47 2l1.31 2.27a1 1 0 001.37.37l1.73-1a1 1 0 00.37-1.36zM7.44 15.89l-1.31 2.27a1 1 0 00.37 1.37l1.73 1a1 1 0 001.36-.37l1.31-2.26a6 6 0 01-3.46-2.01z" opacity=".45"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__services-marketplace" height="24" width="24">
      <circle cx="12" cy="7" r="2.34"></circle>
      <path d="M11 16.76l-2.12 2.12-4.56-4.56a.67.67 0 010-.95l1.17-1.17a.67.67 0 01.95 0z" opacity=".35"></path>
      <path d="M13.12 18.88l-1.41 1.41a1 1 0 01-1.41 0l-1.42-1.41L11 16.76z" opacity=".55"></path>
      <path d="M18.68 9.07L11 16.76l2.12 2.12 7.68-7.68a.7.7 0 00.2-.51.64.64 0 00-.2-.44l-1.17-1.18a.67.67 0 00-.95 0z" opacity=".7"></path>
      <path d="M11 16.76l3-3V12h-4v3.76l1 1z"></path>
    </symbol>
  
    <symbol id="global-nav-icon--classic__salary" height="24" width="24">
      <path d="M21 21H3a.94.94 0 01-1-1v-1h20v1a.94.94 0 01-.88 1H21z" opacity=".7"></path>
      <path d="M21 3H3a.94.94 0 00-1 1v12a.94.94 0 00.88 1H21a.94.94 0 001-1V4a.94.94 0 00-.88-1H21zm-1 9a5 5 0 00-3 3H7a5 5 0 00-3-3V8a5 5 0 003-3h10a5 5 0 003 3v4z"></path>
      <path d="M12 6a4 4 0 00-2.83 6.83l5.66-5.66A4 4 0 0012 6z"></path>
      <path d="M16 10a4 4 0 00-1.17-2.83l-5.66 5.66A4 4 0 0016 10z" opacity=".45"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__overflow" width="24" height="24">
      <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"></path>
    </symbol>
  
  
    <symbol id="global-nav-icon--classic__down-arrow" width="16" height="16" data-supported-dps="16x16">
      <path d="M8.8 10.66L14 5.12a.07.07 0 00-.07-.12H2.07a.07.07 0 00-.07.12l5.2 5.54a1.1 1.1 0 001.6 0z"></path>
    </symbol>
  </svg>
  
  <div class="global-nav__content">
      <a href="/feed/?doFeedRefresh=true&amp;nis=true" class="global-nav__branding" data-link-to="feed">
      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" class="global-nav__logo">
        <title>LinkedIn</title>
  
        <g>
          <path d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z" fill="currentColor"></path>
        </g>
      </svg>
    </a>
  
    <div id="global-nav-search" class="global-nav__search
        ">
      
              <div class="search-global-typeahead
      
      
       global-nav__search-typeahead">
      <div id="global-nav-typeahead" class="search-typeahead-v2 search-global-typeahead__typeahead">
  <!---->    
        <input class="search-global-typeahead__input always-show-placeholder" placeholder="Search" role="combobox" aria-autocomplete="list" aria-label="Search" aria-activedescendant="" aria-expanded="false" type="text">
  
        <div aria-hidden="true" class="search-global-typeahead__search-icon-container">
          <li-icon aria-hidden="true" type="search-icon" class="search-global-typeahead__search-icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
    <path d="M14.56 12.44L11.3 9.18a5.51 5.51 0 10-2.12 2.12l3.26 3.26a1.5 1.5 0 102.12-2.12zM3 6.5A3.5 3.5 0 116.5 10 3.5 3.5 0 013 6.5z"></path>
  </svg></li-icon>
        </div>
        <div class="search-box__overlay--hidden global-alert-offset-top
            "></div>
  <!---->    
  </div>
    <button class="search-global-typeahead__collapsed-search-button" aria-label="Click to start a search" type="button">
      <li-icon aria-hidden="true" type="search-icon" class="search-global-typeahead__collapsed-search-button-icon t-black--light" size="medium"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M21.41 18.59l-5.27-5.28A6.83 6.83 0 0017 10a7 7 0 10-7 7 6.83 6.83 0 003.31-.86l5.28 5.27a2 2 0 002.82-2.82zM5 10a5 5 0 115 5 5 5 0 01-5-5z"></path>
  </svg></li-icon>
      <div class="search-global-typeahead__collapsed-search-button-text t-black--light t-12 t-normal">
        Search
      </div>
    </button>
    <div id="ember16" class="ember-view"><!----></div>
  </div>
          
    </div>
  
    <nav class="global-nav__nav" aria-label="Primary Navigation">
      <ul class="global-nav__primary-items
          ">
          <li class="global-nav__primary-item">
            <a aria-current="" data-test-global-nav-link="feed" data-resource="feed/badge" data-link-to="feed" data-control-name="nav_homepage" href="/feed/" id="ember17" class="global-nav__primary-link ember-view">  <div id="ember454" class="global-nav__primary-link-notif artdeco-notification-badge ember-view">  <span class="notification-badge notification-badge--show ">
          <span aria-hidden="true" class="notification-badge__no-count"></span>
          <span class="a11y-text" data-test-notification-a11y="">new feed updates notifications</span>
    </span>
    
      <svg class="global-nav__icon " xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--mercado__home" class="global-nav__icon-path"></use>
  </svg>
    
  </div>
  
  <span class="global-nav__primary-link-text">
    Home
  </span></a>
          </li>
          <li class="global-nav__primary-item">
            <a aria-current="" data-test-global-nav-link="mynetwork" data-resource="voyagerCommunicationsTabBadges" data-link-to="mynetwork" data-control-name="nav_mynetwork" data-alias="relationships" href="/mynetwork/" id="ember18" class="global-nav__primary-link ember-view">  <div id="ember19" class="global-nav__primary-link-notif artdeco-notification-badge ember-view">  <span class="notification-badge notification-badge--show ">
            <span aria-hidden="true" class="notification-badge__count ">3</span>
            <span class="a11y-text" data-test-notification-a11y="">3 new network updates notifications</span>
    </span>
    
      <svg class="global-nav__icon " xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--mercado__my-network" class="global-nav__icon-path"></use>
  </svg>
    
  </div>
  
  <span class="global-nav__primary-link-text">
    My Network
  </span></a>
          </li>
          <li class="global-nav__primary-item">
            <a aria-current="" data-test-global-nav-link="jobs" data-resource="voyagerCommunicationsTabBadges" data-link-to="jobs" data-control-name="nav_jobs" href="/jobs/" id="ember20" class="global-nav__primary-link ember-view">  <svg class="global-nav__icon " xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--mercado__jobs" class="global-nav__icon-path"></use>
  </svg>
  
  <span class="global-nav__primary-link-text">
    Jobs
  </span></a>
          </li>
          <li class="global-nav__primary-item">
            <a aria-current="" data-test-global-nav-link="messaging" data-resource="voyagerCommunicationsTabBadges" data-link-to="messaging" data-control-name="nav_messaging" href="/messaging/" id="ember21" class="global-nav__primary-link ember-view">  <svg class="global-nav__icon " xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--mercado__messaging" class="global-nav__icon-path"></use>
  </svg>
  
  <span class="global-nav__primary-link-text">
    Messaging
  </span></a>
          </li>
          <li class="global-nav__primary-item">
            <a aria-current="" data-test-global-nav-link="notifications" data-resource="voyagerCommunicationsTabBadges" data-link-to="notifications" data-control-name="nav_notifications" data-alias="identity" href="/notifications/" id="ember22" class="global-nav__primary-link ember-view">  <div id="ember23" class="global-nav__primary-link-notif artdeco-notification-badge ember-view">  <span class="notification-badge notification-badge--show ">
            <span aria-hidden="true" class="notification-badge__count">99+</span>
            <span class="a11y-text" data-test-notification-a11y="">More than 99 new notifications</span>
    </span>
    
      <svg class="global-nav__icon " xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--mercado__notifications" class="global-nav__icon-path"></use>
  </svg>
    
  </div>
  
  <span class="global-nav__primary-link-text">
    Notifications
  </span></a>
          </li>
  
        <li class="global-nav__primary-item
            ">
          <div id="ember25" class="global-nav__me artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-left ember-view">
    <button aria-expanded="false" id="ember26" class="global-nav__primary-link artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">
      <img width="24" src="https://media-exp2.licdn.com/dms/image/C5603AQHZ6gbYtfQmPg/profile-displayphoto-shrink_100_100/0/1643137985500?e=1660176000&amp;v=beta&amp;t=rjtvBb2WybhgYAEeLOwJqWY7by61lDTgkULCccbT0UU" height="24" alt="Khalid Bashir" id="ember27" class="global-nav__me-photo ember-view">
  
      <span class="global-nav__primary-link-text">
        Me
  
        <svg class="global-nav__icon global-nav__icon--small" xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--classic__down-arrow" class="global-nav__icon-path"></use>
  </svg>
      </span>
    
  <!----></button>
  
    <div tabindex="-1" aria-hidden="true" id="ember28" class="global-nav__me-content artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>
  </div>
  
  <!---->
        </li>
  
        <li class="global-nav__primary-item global-nav__primary-item--divider
            ">
          
  
    <button aria-expanded="false" class="global-nav__primary-link" type="button">
    
        <svg class="global-nav__icon " xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--classic__work" class="global-nav__icon-path"></use>
  </svg>
  
      <span class="global-nav__primary-link-text">
        Work
  
        <svg class="global-nav__icon global-nav__icon--small" xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--classic__down-arrow" class="global-nav__icon-path"></use>
  </svg>
      </span>
    
  </button>
  
    <!---->
  
  
  <div id="ember29" class="ember-view"><!----></div>
        </li>
  
        <li class="global-nav__primary-item global-nav__spotlight
            ">
          
    <a target="_blank" aria-current="" data-test-global-nav-link="sales-nav" data-resource="premium/salesNavigatorBadge" data-link-to="sales-nav" data-control-name="nav_sales_navigator" href="https://www.linkedin.com/sales?trk=d_flagship3_nav&amp;lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BekkA7FsGQQmtmWNuT7oQTw%3D%3D&amp;licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-nav_sales_navigator" id="ember30" class="global-nav__primary-link ember-view" data-ntt-old-href="https://www.linkedin.com/sales?trk=d_flagship3_nav">  <div id="ember463" class="global-nav__primary-link-notif artdeco-notification-badge ember-view">  <span class="notification-badge notification-badge--show ">
            <span aria-hidden="true" class="notification-badge__count ">12</span>
            <span class="a11y-text" data-test-notification-a11y="">12 new Sales Navigator notifications</span>
    </span>
    
      <svg class="global-nav__icon " xmlns="http://www.w3.org/2000/svg">
    <use href="#global-nav-icon--classic__sales-navigator" class="global-nav__icon-path"></use>
  </svg>
    
  </div>
  
  <span class="global-nav__primary-link-text">
    Sales Nav
  </span></a>
  
        </li>
  
  <!---->    </ul>
    </nav>
  </div></header>
  
      <div class="videoinappalert-inapp-alerts-manager
      hidden">
    
  <!---->    
  </div>
  
  <!---->
  <div class="authentication-outlet">
  <!---->  <div id="profile-content" class="extended tetris pv-profile-body-wrapper">
    <div class="body">
      
  <!---->    <div class="scaffold-layout__tracking-element"></div>
  
  <div class="scaffold-layout
      scaffold-layout--breakpoint-lg
      scaffold-layout--main-aside
      
      scaffold-layout--reflow
      
       pv-profile">
      <section class="scaffold-layout-toolbar
      scaffold-layout-toolbar--is-fixed
      
      ">
    <div class="scaffold-layout-toolbar__content scaffold-layout-container
        scaffold-layout-container--reflow
        ">
      
        
        
      <div class="pv-profile-sticky-header-v2__container pv1">
    <div id="ember274" class="artdeco-entity-lockup artdeco-entity-lockup--size-1 ember-view pv-profile-sticky-header-v2__mini-profile-container">
      
  <div class="presence-entity presence-entity--size-1 m1">
    <img src="https://media-exp2.licdn.com/dms/image/C4D03AQEfgsWQb_x8ZA/profile-displayphoto-shrink_100_100/0/1641758349919?e=1660176000&amp;v=beta&amp;t=rnDAD01q-J-elQDavah64VOSnFrxuDvmRAN7tQnwKG4" loading="lazy" alt="<%= `${data?.firstName} ${data?.lastName}` %>" id="ember275" class="presence-entity__image   EntityPhoto-circle-1 lazy-image ember-view">
  
    
  <div class="presence-entity__indicator
        
        presence-entity__indicator--size-1 presence-indicator
      hidden
      presence-indicator--size-1">
    <span class="visually-hidden">
        Status is offline
        </span>
  </div>
  </div>
      <div id="ember276" class="artdeco-entity-lockup__content ember-view overflow-hidden ml1 align-self-flex-start">
        <div id="ember277" class="artdeco-entity-lockup__title ember-view">
          <%= `${data?.firstName} ${data?.lastName}` %>
  <!---->      
  </div>
  
        <div id="ember278" class="artdeco-entity-lockup__subtitle ember-view truncate">
          ASO, UA, Apps &amp; Games Marketing! App Store Optimization, Apps Marketing.
        </div>
      </div>
    
  </div>
    <div class="pv-profile-sticky-header-v2__actions-container">
      
        <div class="display-flex inline-flex">
        <div class="pvs-profile-actions pvs-profile-actions--rtl mr2">
            <div id="ember295" class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-left ember-view">
      <button aria-expanded="false" aria-label="More actions" id="ember296" class="artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view pvs-profile-actions__action artdeco-button artdeco-button--secondary artdeco-button--muted
          artdeco-button--2
          
          " type="button" tabindex="0">
          <span>More</span>
      
  <!----></button>
      <div tabindex="-1" aria-hidden="true" id="ember297" class="pvs-overflow-actions-dropdown__content artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-left artdeco-dropdown__content--placement-bottom ember-view"><div class="artdeco-dropdown__content-inner">
    
        <ul>
            <li>
                  <div data-control-name="share_profile" role="button" id="ember298" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="share-linkedin-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M23 12l-4.61 7H16l4-6H8a3.92 3.92 0 00-4 3.84V17a4 4 0 00.19 1.24L5.12 21H3l-.73-2.22A6.4 6.4 0 012 16.94 6 6 0 018 11h12l-4-6h2.39z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Share profile in a message</span>
      <span class="a11y-text" aria-live="off">Share <%= `${data?.firstName} ${data?.lastName}` %>s profile via message</span>
    </div>
  
            </li>
            <li>
                <!---->
            </li>
            <li>
                  <div data-control-name="save_to_pdf" role="button" id="ember299" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="download" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M21 14v5a3 3 0 01-3 3H6a3 3 0 01-3-3v-5h2v5a1 1 0 001 1h12a1 1 0 001-1v-5zm-4-.57V11l-4 2.85V3h-2v10.85L7 11v2.43L12 17z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Save to PDF</span>
      <span class="a11y-text" aria-live="off">Save <%= `${data?.firstName} ${data?.lastName}` %>s profile to PDF</span>
    </div>
  
            </li>
            <li>
                  <div data-control-name="appreciate" role="button" id="ember300" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="achievement-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" width="24" height="24" focusable="false">
    <path d="M16.88 13a7 7 0 10-9.76 0l-2.48 7.31a.52.52 0 00.48.69h.15l2.54-.68 1.6 2.09a.52.52 0 00.91-.15L12 17.3l1.69 4.94a.5.5 0 00.49.35.52.52 0 00.42-.2l1.6-2.09 2.54.7h.15a.52.52 0 00.48-.69zm-10-5A5.13 5.13 0 1112 13.13 5.13 5.13 0 016.88 8zm2.48 11.24l-.83-1.07-1.31.35 1.48-4.34a7 7 0 002.12.72zm6.11-1.07l-.82 1.07-1.49-4.34a7 7 0 002.14-.72l1.48 4.34zM12 5.88A2.13 2.13 0 119.88 8 2.13 2.13 0 0112 5.88M12 5a3 3 0 103 3 3 3 0 00-3-3z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Give Kudos</span>
      <span class="a11y-text" aria-live="off">Give Kudos to <%= `${data?.firstName} ${data?.lastName}` %></span>
    </div>
  
  
  <!---->
            </li>
            <li>
                  <div data-control-name="request_recommendation" role="button" id="ember301" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="quote-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M11 9.5a4.4 4.4 0 01-1 2.75L4.54 19 3 17.73 6.08 14A4.49 4.49 0 1111 9.5zM17.5 5a4.5 4.5 0 00-.42 9L14 17.73 15.54 19 21 12.25a4.4 4.4 0 001-2.75A4.49 4.49 0 0017.52 5z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Request a recommendation</span>
      <span class="a11y-text" aria-live="off">Request <%= `${data?.firstName} ${data?.lastName}` %>s recommendation</span>
    </div>
  
            </li>
            <li>
                  <div data-control-name="recommend" role="button" id="ember302" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="speech-bubble-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M7 9h10v1H7zm0 4h7v-1H7zm16-2a6.78 6.78 0 01-2.84 5.61L12 22v-4H8A7 7 0 018 4h8a7 7 0 017 7zm-2 0a5 5 0 00-5-5H8a5 5 0 000 10h6v2.28L19 15a4.79 4.79 0 002-4z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Recommend</span>
      <span class="a11y-text" aria-live="off">Write a recommendation for <%= `${data?.firstName} ${data?.lastName}` %></span>
    </div>
  
            </li>
            <li>
                    <div data-control-name="sticky_header_overflow_unfollow" role="button" id="ember303" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" aria-live="polite" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="clear-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M12 2a10 10 0 1010 10A10 10 0 0012 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Unfollow</span>
      <span class="a11y-text" aria-live="polite">Unfollow <%= `${data?.firstName} ${data?.lastName}` %></span>
    </div>
  
  
  <div id="ember304" class="ember-view"><!----></div>
            </li>
            <li>
                        <div data-control-name="disconnect" role="button" id="ember305" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="person-remove-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M20.42 13L23 15.58 21.58 17 19 14.42 16.42 17 15 15.58 17.58 13 15 10.42 16.42 9 19 11.58 21.58 9 23 10.42zM9 2a5 5 0 105 5 5 5 0 00-5-5zm2 12H7a3 3 0 00-3 3v5h10v-5a3 3 0 00-3-3z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Remove Connection</span>
      <span class="a11y-text" aria-live="off">Remove your connection to <%= `${data?.firstName} ${data?.lastName}` %></span>
    </div>
  
  
            </li>
            <li>
                  <div data-control-name="report" role="button" id="ember306" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="flag-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M17.9 4.38a5.82 5.82 0 01-1.9.31 6.1 6.1 0 01-1.9-.31l-3.2-1.07A6.41 6.41 0 009 3a5.57 5.57 0 00-1.9.31L6 3.67V2H4v20h2v-8l1.1-.37a6.41 6.41 0 011.9-.32 5.82 5.82 0 011.9.31l3.2 1.07a6 6 0 003.8 0L20 14V3.68z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Report / Block</span>
      <span class="a11y-text" aria-live="off">Report or block <%= `${data?.firstName} ${data?.lastName}` %>s profile</span>
    </div>
  
  
  <!---->
            </li>
        </ul>
      
  </div>
  </div>
    </div>
  
              <button data-control-name="view_profile_in_sales_navigator" aria-label="View <%= `${data?.firstName} ${data?.lastName}` %>s profile in Sales Navigator" id="ember307" class="pvs-profile-actions__action  artdeco-button artdeco-button--muted artdeco-button--2 artdeco-button--secondary ember-view" type="button"><!---->
  <span class="artdeco-button__text">
      View in Sales Navigator
  </span></button>
  
                
  <div class="entry-point">
    <div></div>
  
        <a href="/messaging/thread/new?recipients=List(urn%3Ali%3Afsd_profile%3AACoAACDzRdEBrIaObEQTosdEaXzV0YmRAtkxzFQ)&amp;composeOptionType=CONNECTION_MESSAGE&amp;controlUrn=sticky_header_primary_compose_message_button&amp;referringModuleKey=NON_SELF_PROFILE_VIEW&amp;messageComposeFlowTrackingId=IwaVAwbkRq2dclwmvK4kAg%3D%3D" class="message-anywhere-button pvs-profile-actions__action artdeco-button " role="button">
  <!---->          Message
        </a>
  </div>
  
    </div>
  
  
  <!---->
  <!----></div>
      
    </div>
  </div>
    
      
      
    </div>
  </section>
  
    <div class="scaffold-layout__inner scaffold-layout-container
        scaffold-layout-container--reflow
        ">
  <!---->
  <!---->
        <div class="scaffold-layout__row scaffold-layout__content
            scaffold-layout__content--main-aside
            
            scaffold-layout__content--has-aside
            
            ">
  <!---->
          <main id="main" class="scaffold-layout__main
              
              ">
              
        
      <section id="ember279" class="artdeco-card ember-view pv-top-card" data-member-id="552814033"><!---->
  
    <div class="live-video-hero-image
      " style="min-height: 159px; max-height: 159px;">
    <div class="live-video-hero-image__bg-image">
      
          <div tabindex="-1" class="profile-background-image">
      <div class="profile-background-image__image-container">
        <% if (data?.coverImageUrl) { %>

          <img class="profile-background-image__image relative
              full-width full-height" id="profile-background-image-target-image" alt="Background Image" src="<%= data?.coverImageUrl %>">

          <% } else { %>

          <svg aria-hidden="true" role="none" class="_cover-image_sqh8tm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 552 138" data-supported-dps="2048x512">
            <svg display="var(--hue-web-svg-display-dark)">
              <path fill="none" d="M0 0h552v138H0z"></path>
              <path fill="#3c4345" d="M0 0h552v138H0z"></path>
              <path fill="#5b696b" opacity=".5" d="M380 0h172v138H380z"></path>
              <path d="M333.22 0H0v138h333.22a207.93 207.93 0 000-138z" fill="#5b696b"></path>
            </svg>
            <svg display="var(--hue-web-svg-display-light)">
              <path fill="none" d="M0 0h552v138H0z"></path>
              <path fill="#d9e5e7" d="M0 0h552v138H0z"></path>
              <path fill="#bfd3d6" d="M380 0h172v138H380z"></path>
              <path d="M333.22 0H0v138h333.22a207.93 207.93 0 000-138z" fill="#a0b4b7"></path>
            </svg>
          </svg>

        <% } %>
      </div>
    </div>
      
    </div>
    <div class="live-video-hero-image__live-video">
  <!---->  </div>
  </div>
    <div class="ph5 pb5">
      <div class="display-flex">
        <div class="pv-top-card--photo text-align-left
            pv-top-card--photo-resize">
              <div class="pv-top-card__non-self-photo-wrapper ml0">
    
    <button class="pv-top-card-profile-picture pv-top-card-profile-picture__container
        pv-top-card__photo presence-entity__image EntityPhoto-circle-9
        " type="button">
      
      <img width="200" title="<%= `${data?.firstName} ${data?.lastName}` %>" src="<%- data?.profileImageUrl ?? `data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7` %>" height="200" alt="<%= `${data?.firstName} ${data?.lastName}` %>" id="ember281" class="pv-top-card-profile-picture__image <%= data?.profileImageUrl ? `` : `ghost-person` %> pv-top-card-profile-picture__image--show ember-view">
  
  <!---->
  <!---->
    </button>
  
    
  <div class="presence-entity__indicator presence-entity__indicator--size-9 presence-indicator
      hidden
      presence-indicator--size-9">
    <span class="visually-hidden">
        Status is offline
        </span>
  </div>
  </div>
        </div>
        <div class="flex-1 flex-column">
          <div class="pv-top-card__badge-wrap">
  <!----><!---->              
  <span tabindex="-1" id="ember308" class="artdeco-hoverable-trigger artdeco-hoverable-trigger--content-placed-bottom artdeco-hoverable-trigger--is-hoverable ember-view">
    <button aria-label="Notify me about all of Abbas posts" aria-describedby="artdeco-hoverable-artdeco-gen-48" id="ember309" class="artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--2 artdeco-button--tertiary ember-view profile-top-card__subscribe-button" type="button">  <li-icon aria-hidden="true" type="bell-outline" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M22 18a4.52 4.52 0 00-1.17-2.83L19 13l-.8-5.56A6.27 6.27 0 0012 2a6.27 6.27 0 00-6.21 5.44L5 13l-1.83 2.17A4.52 4.52 0 002 18v1h8.28a2 2 0 103.44 0H22zM12 4a4.29 4.29 0 014.23 3.72L17 13H7l.77-5.3A4.26 4.26 0 0112 4zM4.32 17c.12-.19.24-.37.38-.55L6.77 14h10.46l2 2.42a4.67 4.67 0 01.41.58z"></path>
  </svg></li-icon>
  
  <span class="artdeco-button__text">
      
  </span></button>
    <div id="artdeco-gen-48" class="ember-view"><div id="ember311" class="ember-view"></div></div>
  </span>
          </div>
        </div>
      </div>
  
      <div class="mt2 relative">
    <div class="pv-text-details__left-panel
        ">
      <div>
        <h1 class="text-heading-xlarge inline t-24 v-align-middle break-words"><%= `${data?.firstName} ${data?.lastName}` %></h1>
  <!----><!----><!---->        <span class="distance-badge t-black--light t-14
      
      t-black--light
      
       pv-text-details__separator text-body-small v-align-middle">
    <span class="visually-hidden" aria-label="1st degree connection">
        1st degree connection
    </span>
    <span class="dist-value " aria-hidden="true">
      1st
    </span>
  </span>
      </div>
  <!---->    <div class="text-body-medium break-words">
         <%- data?.headline ?? (data?.jobTitle && data?.companyName ? `${data?.jobTitle} @ ${data?.companyName.bold()}` : ``) %>
      </div>
  <!---->  </div>
      <ul class="pv-text-details__right-panel">
          <li class="pv-text-details__right-panel-item">
            <a href="#experience" class="pv-text-details__right-panel-item-link link-without-hover-visited t-black">
              <% if (data?.companyImageURL) { %>
                <img src="" alt="<%= data?.companyImageURL %>" id="ember312" class="ember-view pv-text-details__right-panel-item-text-image EntityPhoto-square-1">
              <% } %>
              <h2 class="pv-text-details__right-panel-item-text hoverable-link-text break-words text-body-small inline">
                <div class="inline-show-more-text
      inline-show-more-text--is-collapsed
      inline-show-more-text--is-collapsed-with-line-clamp
      
      
       inline" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;" aria-label="Current company">
  
      <h4><%= data?.companyName %></h4>
    
  <!----></div>
              </h2>
            </a>
          </li>
      </ul>
    <div class="pb2 pv-text-details__left-panel">
      <span class="text-body-small inline t-black--light break-words">
        <%= data?.location %>
      </span>
        <span class="pv-text-details__separator t-black--light">
          <a href="/in/abbas-khan-641177135/overlay/contact-info/" id="top-card-text-details-contact-info" class="ember-view link-without-visited-state cursor-pointer text-heading-small inline-block break-words">
            Contact info
          </a>
        </span>
    </div>
  </div>
  <!---->    <ul class="pv-top-card--list pv-top-card--list-bullet display-flex pb1">
  
  <!---->
      <li class="text-body-small">
          <a href="/search/results/people/?connectionOf=%5B%22ACoAACDzRdEBrIaObEQTosdEaXzV0YmRAtkxzFQ%22%5D&amp;network=%5B%22F%22%2C%22S%22%5D&amp;origin=MEMBER_PROFILE_CANNED_SEARCH" id="ember314" class="ember-view">
            <span class="link-without-visited-state">
              <span class="t-bold">500+</span> connections
            </span>
          </a>
      </li>
  </ul>
         
  
      
  <div class="pv-top-card-v2-ctas pt2 display-flex">
  <!---->
  <!---->
        <div class="pvs-profile-actions ">
                
  <div class="entry-point">
    <div></div>
  
        <a href="/messaging/thread/new?recipients=List(urn%3Ali%3Afsd_profile%3AACoAACDzRdEBrIaObEQTosdEaXzV0YmRAtkxzFQ)&amp;composeOptionType=CONNECTION_MESSAGE&amp;controlUrn=topcard_primary_compose_message_button&amp;referringModuleKey=NON_SELF_PROFILE_VIEW&amp;messageComposeFlowTrackingId=YAUuG1p9TBSDX3QXZC0XaQ%3D%3D" class="message-anywhere-button pvs-profile-actions__action artdeco-button " role="button">
  <!---->          Message
        </a>
  </div>
  
              <button data-control-name="view_profile_in_sales_navigator" aria-label="View <%= `${data?.firstName} ${data?.lastName}` %>s profile in Sales Navigator" id="ember317" class="pvs-profile-actions__action  artdeco-button artdeco-button--muted artdeco-button--2 artdeco-button--secondary ember-view" type="button"><!---->
  <span class="artdeco-button__text">
      View in Sales Navigator
  </span></button>
  
            <div id="ember318" class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-left ember-view">
      <button aria-expanded="false" aria-label="More actions" id="ember319" class="artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view pvs-profile-actions__action artdeco-button artdeco-button--secondary artdeco-button--muted
          artdeco-button--2
          
          " type="button" tabindex="0">
          <span>More</span>
      
  <!----></button>
      <div tabindex="-1" aria-hidden="true" id="ember320" class="pvs-overflow-actions-dropdown__content artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-left artdeco-dropdown__content--placement-bottom ember-view"><div class="artdeco-dropdown__content-inner">
    
        <ul>
            <li>
                  <div data-control-name="share_profile" role="button" id="ember321" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="share-linkedin-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M23 12l-4.61 7H16l4-6H8a3.92 3.92 0 00-4 3.84V17a4 4 0 00.19 1.24L5.12 21H3l-.73-2.22A6.4 6.4 0 012 16.94 6 6 0 018 11h12l-4-6h2.39z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Share profile in a message</span>
      <span class="a11y-text" aria-live="off">Share <%= `${data?.firstName} ${data?.lastName}` %>s profile via message</span>
    </div>
  
            </li>
            <li>
                <!---->
            </li>
            <li>
                  <div data-control-name="save_to_pdf" role="button" id="ember322" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="download" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M21 14v5a3 3 0 01-3 3H6a3 3 0 01-3-3v-5h2v5a1 1 0 001 1h12a1 1 0 001-1v-5zm-4-.57V11l-4 2.85V3h-2v10.85L7 11v2.43L12 17z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Save to PDF</span>
      <span class="a11y-text" aria-live="off">Save <%= `${data?.firstName} ${data?.lastName}` %>s profile to PDF</span>
    </div>
  
            </li>
            <li>
                  <div data-control-name="appreciate" role="button" id="ember323" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="achievement-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" width="24" height="24" focusable="false">
    <path d="M16.88 13a7 7 0 10-9.76 0l-2.48 7.31a.52.52 0 00.48.69h.15l2.54-.68 1.6 2.09a.52.52 0 00.91-.15L12 17.3l1.69 4.94a.5.5 0 00.49.35.52.52 0 00.42-.2l1.6-2.09 2.54.7h.15a.52.52 0 00.48-.69zm-10-5A5.13 5.13 0 1112 13.13 5.13 5.13 0 016.88 8zm2.48 11.24l-.83-1.07-1.31.35 1.48-4.34a7 7 0 002.12.72zm6.11-1.07l-.82 1.07-1.49-4.34a7 7 0 002.14-.72l1.48 4.34zM12 5.88A2.13 2.13 0 119.88 8 2.13 2.13 0 0112 5.88M12 5a3 3 0 103 3 3 3 0 00-3-3z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Give Kudos</span>
      <span class="a11y-text" aria-live="off">Give Kudos to <%= `${data?.firstName} ${data?.lastName}` %></span>
    </div>
  
  
  <!---->
            </li>
            <li>
                  <div data-control-name="request_recommendation" role="button" id="ember324" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="quote-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M11 9.5a4.4 4.4 0 01-1 2.75L4.54 19 3 17.73 6.08 14A4.49 4.49 0 1111 9.5zM17.5 5a4.5 4.5 0 00-.42 9L14 17.73 15.54 19 21 12.25a4.4 4.4 0 001-2.75A4.49 4.49 0 0017.52 5z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Request a recommendation</span>
      <span class="a11y-text" aria-live="off">Request <%= `${data?.firstName} ${data?.lastName}` %>s recommendation</span>
    </div>
  
            </li>
            <li>
                  <div data-control-name="recommend" role="button" id="ember325" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="speech-bubble-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M7 9h10v1H7zm0 4h7v-1H7zm16-2a6.78 6.78 0 01-2.84 5.61L12 22v-4H8A7 7 0 018 4h8a7 7 0 017 7zm-2 0a5 5 0 00-5-5H8a5 5 0 000 10h6v2.28L19 15a4.79 4.79 0 002-4z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Recommend</span>
      <span class="a11y-text" aria-live="off">Write a recommendation for <%= `${data?.firstName} ${data?.lastName}` %></span>
    </div>
  
            </li>
            <li>
                    <div data-control-name="topcard_overflow_unfollow" role="button" id="ember326" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" aria-live="polite" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="clear-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M12 2a10 10 0 1010 10A10 10 0 0012 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Unfollow</span>
      <span class="a11y-text" aria-live="polite">Unfollow <%= `${data?.firstName} ${data?.lastName}` %></span>
    </div>
  
  
  <div id="ember327" class="ember-view"><!----></div>
            </li>
            <li>
                        <div data-control-name="disconnect" role="button" id="ember328" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="person-remove-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M20.42 13L23 15.58 21.58 17 19 14.42 16.42 17 15 15.58 17.58 13 15 10.42 16.42 9 19 11.58 21.58 9 23 10.42zM9 2a5 5 0 105 5 5 5 0 00-5-5zm2 12H7a3 3 0 00-3 3v5h10v-5a3 3 0 00-3-3z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Remove Connection</span>
      <span class="a11y-text" aria-live="off">Remove your connection to <%= `${data?.firstName} ${data?.lastName}` %></span>
    </div>
  
  
            </li>
            <li>
                  <div data-control-name="report" role="button" id="ember329" class="display-flex align-items-center  artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view" tabindex="0"><!---->
        <li-icon aria-hidden="true" type="flag-icon" class="mr3 flex-grow-0" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
    <path d="M17.9 4.38a5.82 5.82 0 01-1.9.31 6.1 6.1 0 01-1.9-.31l-3.2-1.07A6.41 6.41 0 009 3a5.57 5.57 0 00-1.9.31L6 3.67V2H4v20h2v-8l1.1-.37a6.41 6.41 0 011.9-.32 5.82 5.82 0 011.9.31l3.2 1.07a6 6 0 003.8 0L20 14V3.68z"></path>
  </svg></li-icon>
      <span class="display-flex t-normal flex-1" aria-hidden="true">Report / Block</span>
      <span class="a11y-text" aria-live="off">Report or block <%= `${data?.firstName} ${data?.lastName}` %>s profile</span>
    </div>
  
  
  <!---->
            </li>
        </ul>
      
  </div>
  </div>
    </div>
  
    </div>
  
  </div>
    </div>
      <div></div>
  <!----><!----></section>
  <!---->
    
        
  <!---->    <!---->
    
        
          <!---->
  <!---->
          <!---->
  <!---->
            <section id="ember332" class="artdeco-card ember-view relative break-words pb3 mt2 "><!---->
  
      <div id="about" class="pv-profile-card-anchor"></div>
              <!---->
  <div class="pvs-header__container">
    <div class="pvs-header__top-container--no-stack">
      <div class="pvs-header__left-container--stack">
        <div class="pvs-header__title-container">
            <h2 class="pvs-header__title text-heading-large">
              <span aria-hidden="true"><!---->About<!----></span><span class="visually-hidden"><!---->About<!----></span>
            </h2>
  <!----><!---->      </div>
  
  <!---->    </div>
  
  <!---->  </div>
  </div>
  
              <div class="display-flex ph5 pv3">
      <div class="
        display-flex full-width">
      
        
    <div class="pv-shared-text-with-see-more t-14 t-normal t-black display-flex align-items-center">
      <div class="inline-show-more-text
      
      
      
      
      " style="line-height:1.9rem;">
  
      <%- data?.summary?.replace(/\n/g, '<br>') %>
  
  <!---->
  <!----></div>
    </div>
  
    
    </div>
  
  </div>
  
  <!---->  </section>
 
        
  </div>
    
  
    <div class="mt2">
      <div id="ember291" class="sticky ember-view" style="height: 250px; width: 322px; margin: 0px auto;">
        <div class="pv-right-rail__sticky-ad-banner">
          <section class="ad-banner-container
      
      artdeco-card overflow-hidden
      ">
    <iframe data-ad-banner="" class="ad-banner" width="300" height="250" src="about:blank" scrolling="no" title="advertisement"></iframe>
  
  <!---->
    <!---->
  
  <!----></section>
        </div>
      </div>
    </div>
  
    
      
            </aside>
        </div>
  
  <!---->  </div>
  </div>
  
  <!---->
  <footer class="global-footer
      global-footer--static">
    <div id="ember293" class="global-footer__occlusion-hint ember-view"><!----></div>
  </footer>
    </div>
  </div>
  </div>
  
    <!----><aside id="msg-overlay" class="msg-overlay-container msg-overlay-container-reflow">
      <div tabindex="-1" class="msg-overlay-list-bubble
      msg-overlay-list-bubble--is-minimized
      
      ml4">
    <header class="msg-overlay-bubble-header">
      <div class="msg-overlay-bubble-header__badge-container
          "></div>
      <!---->
      <div class="msg-overlay-bubble-header__details flex-row align-items-center ml1">
        
  <div class="presence-entity presence-entity--size-1">
    <img src="https://media-exp2.licdn.com/dms/image/C5603AQHZ6gbYtfQmPg/profile-displayphoto-shrink_100_100/0/1643137985500?e=1660176000&amp;v=beta&amp;t=rjtvBb2WybhgYAEeLOwJqWY7by61lDTgkULCccbT0UU" loading="lazy" alt="Khalid Bashir" id="ember152" class="presence-entity__image   EntityPhoto-circle-1 lazy-image ember-view">
  
    
  <div class="presence-entity__indicator
        
        presence-entity__indicator--size-1 presence-indicator
      presence-indicator--is-online
      presence-indicator--size-1">
    <span class="visually-hidden">
        Status is online
    </span>
  </div>
  </div>
        <button class="msg-overlay-bubble-header__button truncate ml2" type="button">
          <span class="truncate t-14 t-bold
              t-black">
            <span aria-hidden="true">
              Messaging
            </span>
            <span class="visually-hidden">
              You are on the messaging overlay. Press enter to open the list of conversations.
            </span>
          </span>
        </button>
  
  <!----><!---->    </div>
      <div class="msg-overlay-bubble-header__controls display-flex">
        <div id="ember153" class="artdeco-dropdown artdeco-dropdown--placement-top artdeco-dropdown--justification-right ember-view">
          <button aria-expanded="false" id="ember154" class="artdeco-button artdeco-button--1 artdeco-button--circle artdeco-button--muted artdeco-button--tertiary artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-top ember-view" type="button" tabindex="0">
            <li-icon type="overflow-web-ios" size="small" color="true" role="img" aria-label="Open messenger dropdown menu"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
    <path d="M3 9.5A1.5 1.5 0 114.5 8 1.5 1.5 0 013 9.5zM11.5 8A1.5 1.5 0 1013 6.5 1.5 1.5 0 0011.5 8zm-5 0A1.5 1.5 0 108 6.5 1.5 1.5 0 006.5 8z"></path>
  </svg></li-icon>
          
  <!----></button>
          <div class="msg-overlay-bubble-header__dropdown-container">
            <div tabindex="-1" aria-hidden="true" id="ember155" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-top ember-view"><!----></div>
          </div>
        </div>
  
        <button id="ember156" class="msg-overlay-bubble-header__control msg-overlay-bubble-header__control--new-convo-btn artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--1 artdeco-button--tertiary ember-view">  <li-icon aria-hidden="true" type="compose-icon" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
    <path d="M15 2.53a1.51 1.51 0 01-.44 1L9.15 9 6 10l1-3.12 5.44-5.44A1.5 1.5 0 0115 2.53zM12 11a1 1 0 01-1 1H5a1 1 0 01-1-1V5a1 1 0 011-1h3V2H5a3 3 0 00-3 3v6a3 3 0 003 3h6a3 3 0 003-3V8h-2z"></path>
  </svg></li-icon>
  
  <span class="artdeco-button__text">
      Compose message
  </span></button>
  
        <button id="ember157" class="msg-overlay-bubble-header__control msg-overlay-bubble-header__control--new-convo-btn artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--1 artdeco-button--tertiary ember-view">  <li-icon aria-hidden="true" type="chevron-up-icon" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
    <path d="M15 11L8 6.39 1 11V8.61L8 4l7 4.61z"></path>
  </svg></li-icon>
  
  <span class="artdeco-button__text">
      You are on the messaging overlay. Press enter to open the list of conversations.
  </span></button>
      </div>
    </header>
  <!---->
  <!----><!----></div>
  
  <!---->
  <!---->
    <div id="msg-overlay__emoji-hoverable-outlet"></div>
  </aside>
  
  <!---->
      <img src="https://px.ads.linkedin.com/collect/?pid=6883&amp;fmt=gif&amp;_t=1654847979989" alt="" role="none" class="third-party-tracking-pixel hidden" data-test-third-party-tracking-pixel="">
  
  
  </div>

  <!---->
  <div id="type-ahead-wormhole" class="type-ahead type-ahead-wormhole">
  </div>
  
  <div id="toast-wormhole" class="toast-wormhole">
  </div>
  
    <iframe title="cedex beacon iframe" sandbox="allow-scripts" style="display:none;" src="//radar.cedexis.com/1/11326/radar.html">
    </iframe>
  
  <div><!----></div>
  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="datalet-bpr-guid-361045"><script type="x/boundary" id="fastboot-body-start"></script><script type="x/boundary" id="fastboot-body-end"></script><code style="display: none" id="clientPageInstance">
    urn:li:page:d_flagship3_feed;58400868-df25-426f-9f97-345825125b29
  </code>
  
  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="display: none" class="terminatorlet">
  
  
  
      <div id="a11y-notification" class="visually-hidden" role="region" aria-live="polite"></div>
    </html>